/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}
p {
  margin: 1em 0;
}

a {
  color: whitesmoke;
}
a:hover {
  color: white;
}
a:visited {
  color:white;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: lighten($base-color, 75%);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: transparent;
  font-size: 62.5%;
  /* Technique: http://css-tricks.com/perfect-full-page-background-image/ */
  /*background-image: url(../i/bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;

  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  -webkit-background-size: 1534px 1024px; // fix not correct scaling in safari on ipad
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
  */
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.bg {
  position: fixed;
  z-index: 0;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

.bg img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.notice {
  font-family: sans-serif;
  text-transform: uppercase;
  margin: auto;
  padding: 2vh 4vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100vw;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social li {
  width: auto;
  margin: 0 0 1rem;
  line-height: 1.8rem;
  height: 1.8rem;
  font-size: 1.5rem;
  padding: 0;
  list-style: none;
  background: rgba(237, 138, 192, 0.6); /* #ed8ac0 */
}
