<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Google font -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>

        <!-- Bootstrap  -->
        <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google Analytics asynchronous snippet -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-11517312-1']);
            _gaq.push(['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>


    </head>
    <body>

        <div class="notice">
          working on&nbsp;it


          <ul class="social">
            <li><a href="http://flickr.com/photos/tataata/">flickr</a></li>
            <li><a href="http://www.behance.net/tataata">behance</a></li>
            <li><a href="http://8tracks.com/tataata">8tracks</a></li>
            </ul>

        </div>

        <div class="bg"><img src=/i/bg.jpg></div>
    </body>
</html>
