<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">


  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11517312-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-11517312-1');
  </script>


</head>

<body>

  <div class="notice">
    <ul class="social">
      <li>
        photography | <a href="https://flickr.com/photos/tataata/">flickr</a> + <a href="https://www.instagram.com/tataata_/">instagram</a>
      </li>
      <li>
        open letters | <a href="https://stampsy.com/user/20423">stampsy</a>
      </li>
      <li>
        glued sounds | <a href="https://www.mixcloud.com/tataata/">mixcloud</a>
      </li>
    </ul>
  </div>


  <div class="bg">
    <img src=/i/bg.jpg>
  </div>
</body>

</html>
